<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Login</h2>
  <form>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="USER ID">    
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="password">
    </div>
    <div>
      <ion-button color="primary" (click)="onSubmit()"> Sign IN </ion-button>
    </div>
  
  </form>
  
</ion-content> 