<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="balance-tab">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Balance</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="trades-tab">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Trades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="position-tab">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Position</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="change-account-tab">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Accounts</ion-label>
      </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>